{% extends "layout.html" %}

{% block css_adicional %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'src/css/cadastro.css')}}">
{% endblock %}
   
{% block conteudo %}
    <div class="conteiner">
       <form action="/cadastrar_usuario" method="POST">

        <p>Nome</p>
        <input id="nome" name="nome" type="text">

        <p>Usuário</p>
        <input id="usuario" name="usuario" type="text">

        <p>Senha</p>
        <input id="senha" name="senha" type="password">

        <br>
        
        <button class="botao" type="submit">CADASTRAR</button>
    </form> 
    </div>
{% endblock %}
    
   
</body>
</html>